body {
    background-color: #f9e3cd;
}


.Board {
    display: inline-block;
}

.Button {
    background-color: #ffb6c0;
    border: 3px black;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-anchor: middle;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    width: 175px;
    height: 75px;
}

.Button:hover {
    background-color: #fbd4c8;
}

.Button:active {
    background-color: white;
    color: black;
}

.Button:disabled {
    background-color: #fbd4c8;
}

.Container {
    background-color: #ffb6c0;
    border: 3px white;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-anchor: middle;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    width: 800px;
    height: 55px;
}

tr {
    display: table-cell;
}